.become {
	background-color: #fff;
	padding-top: 150px;
	padding-bottom: 120px;
}

.become-title {
	max-width: 50%;
}

.become-list {
	margin-top: 95px;
	display: flex;
	flex-wrap: wrap;
}

.become-item {
	width: 23.5%;
	margin-right: 2%;
	margin-bottom: 2%;
	overflow: hidden;
	border-radius: 4px;
	position: relative;
	font-size: 0;
}

.become-item:nth-child(4n) {
	margin-right: 0;
}

.become-text {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 54px;
	padding-bottom: 64px;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: var(--white-color);
	transform: translateY(300px);
	transition: transform 0.3s ease-in-out;
}

.become-image {
	max-height: 100%;
	object-fit: cover;
}

.become-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--neptune-color);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.become-item:hover::before {
	opacity: 0.9;
	transition: opacity 0.3s ease-in-out;
}

.become-item:hover .become-text {
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
}


