.featured {
	background-image: url("../../img/featured.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1080px;
	position: relative;
}

.featured-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.featured-stories {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35.3%;
	background-color: rgba(60, 74, 81, 1);
	;
	padding: 125px 132px;
}

.blog-article {
	padding-bottom: 105px;
}

.blog-article-category {
  font-weight: 800;
	font-size: 11px;
	line-height: 1;
	text-align: center;
	letter-spacing: 2px;
	color: var(--white-color);
	padding: 15px 30px;
	background-color: var(--accent-color);
	border-radius: 100px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.blog-article-title {
	font-weight: 700;
font-size: 48px;
line-height: 64px;
color: var(--white-color);
max-width: 40%;
margin-bottom: 18px;
}
.blog-article-description {
 font-size: 14px;
 line-height: 16px;
 font-weight: 400;
 color: var(--white-color);
 margin-bottom: 40px;
 max-width: 40%;
}

.blog-article-link {
	background-color:var(	--neptune-color);
  display: inline-block;
	transition: background-color 0.3s;
}
.blog-article-link:hover {
	background-color: var(--neptune-hover-color);
	transition: background-color 0.3s;
}

.featured-title {
	font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: var(--white-color);
	margin-bottom: 64px ;
}

.feature-list-article {
	border-bottom: 1px solid rgba(227, 227, 227, 1);
  display: flex;
	align-items: flex-start;
	padding: 31px 0;
}

.featured-list-item:last-child .feature-list-article{
border-bottom: 1px solid transparent;
}

.feature-list-image {
	border-radius: 100%;
	overflow: hidden;
	height: 48px;
	width: 48px;
	flex-shrink: 0;
}

.feature-list-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.feature-list-text {
	margin-left: 32px ;
	padding-right: 35px;
}

.feature-list-title {
	font-weight: 700;
	font-size: 18px;
  line-height: 24px;
	color: var(--white-color);
	margin-bottom: 5px;
}

.feature-list-time {

font-family: "SFProText-Regular", sans-serif;
font-weight: 400;
font-size: 11px;
color: rgba(255, 255, 255, 0.502293);
}


